<?xml version="1.0"?>

<robot name="3R" xmlns:xacro="http://www.ros.org/wiki/macro">

    <xacro:include filename="$(find man_description)/urdf/link_files.xacro"/>

    <m_link_box name="base_link"
                origin_rpy="0 0 0" origin_xyz="0 0 0"
                size="1 1 1"/>

    <m_joint name="base_link_link_01" type="revolute"
            origin_rpy="0 0 0" origin_xyz="0 0 0.5"
            axis_xyz="0 0 1" parent="base_link" child="link_01" />

    <m_link_cylinder name="link_01" origin_xyz="0 0 0.2" origin_rpy="0 0 0" radius="0.35" length="0.4"/> 

    <m_joint name="link_01_link_02" type="revolute" 
             origin_rpy="0 0 0" origin_xyz="0 0 0.4" 
             axis_xyz="0.0 1 0.0" parent="link_01" child="link_02"/>

    <m_link_cylinder name="link_02" origin_xyz="0 0 0.4" origin_rpy="0 0 0" radius="0.15" length="0.8"/>

    <m_joint name="link_02_link_03" type="revolute" 
             origin_rpy="0 0 0" origin_xyz="0 0 0.8" 
             axis_xyz="0.0 1 0.0" parent="link_02" child="link_03"/>

    <m_link_cylinder name="link_03" origin_xyz="0 0 0.4" origin_rpy="0 0 0" radius="0.15" length="0.8"/>

    <m_joint name="link_03_link_04" type="revolute" 
             origin_rpy="0 0 0" origin_xyz="0 0 0.8" 
             axis_xyz="0.0 1 0.0" parent="link_03" child="link_04"/>

    <m_link_cylinder name="link_04" origin_xyz="0 0 0.4" origin_rpy="0 0 0" radius="0.15" length="0.8"/>

    <m_joint name="link_04_link_05" type="revolute" 
             origin_rpy="0 0 0" origin_xyz="0 0 0.8" 
             axis_xyz="0.0 0 1" parent="link_04" child="link_05"/>

    <m_link_cylinder name="link_05" origin_xyz="0 0 0.125" origin_rpy="0 0 0" radius="0.15" length="0.25"/>

</robot>